<footer>
    <div class="content">
        <div>
            <h2>Ar<span class="colored-letter">t</span>ur</h2>
            <a class="inprint" href="#">Impressum</a>
        </div>
        <div class="flex">
            <img src="assets/c.png" alt="">
            <div>
                <span class="name">Artur Marbach 2024</span>
            </div>
        </div>

        <div class="link-section">
            <a href="">
                <img (click)="goToUrl('g')" src="assets/github.png" alt=""></a>
            <a  href="mailto:marbach.a@gmx.net">
                <img src="assets/mail.png" alt=""></a>
            <a href="">
                <img (click)="goToUrl('l')" src="assets/linkIn.png" alt="">
            </a>
        </div>


    </div>



</footer>