<div id="about-me" class="about-me-section">
    <img class="background-shadow-img" src="assets/purple-shadow.png" alt="">
    <div data-aos="fade-right" class="left-section">
        <div>
            <h1 [ngClass]="{'deutsch': currentLanguage === 'de' || isGerman}">{{"About me" | translate}}</h1>
            <span>{{"homepage.intro" | translate}}</span>
            <div>
                <div class="">
                    <div class="info">
                        <img src="assets/light.png" alt="">
                        <div style="padding-left: 21px;"></div>
                        <span>{{"Enthusiasm" | translate}}</span>
                    </div>
                    <div class="info">
                        <img src="assets/puzzle.png" alt="">
                        <span>{{ "Commitment" |translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-aos="fade-left" class="right-section">
        <div class="profile-circle-container">
            <div class="profile-circle">
                <img class="img" src="assets/my_photo2.png" alt="">
            </div>
            <div class="decorate-line"></div>
        </div>
    </div>
</div>