<div id="about-me" class="about-me-section">
    <img class="background-shadow" src="assets/purple-shadow.png" alt="">
    <div class="left-section">
        <div>
            <h1>{{"About me" | translate}}</h1>
            <span>{{"homepage.intro" | translate}}</span>
            <div>
                <div class="">
                    <div class="info">
                        <img src="assets/light.png" alt="">
                        <div style="padding-left: 21px;"></div>
                        <span>{{"Enthusiasm" | translate}}</span>
                    </div>
                    <div class="info">
                        <img src="assets/puzzle.png" alt="">
                        <span>{{ "Commitment" |translate}}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="right-section">
        <div class="profile-circle-container">
            <div class="profile-circle">
                <img class="img" src="assets/profile-circle.png" alt="">

            </div>
            <div class="decorate-line"></div>
        </div>
    </div>


</div>