<div id="about-me" class="about-me-section">
    <img class="background-shadow" src="assets/purple-shadow.png" alt="">
    <div class="left-section">
        <div>
            <h1>About me</h1>
            <span>Hello, I'm Artur Marbach, a frontend developer from Hamburg, Germany. Welcome to my homepage!
                Passionate about creative solutions, I'm committed to continuous development in web development. With a
                keen interest in technology and a drive to deepen my skills, I aim to craft innovative and user-friendly
                websites.</span>
            <div>
                <div class="">
                    <div class="info">
                        <img src="assets/light.png" alt="">
                        <div style="padding-left: 21px;"></div>
                        <span>With a broad knowledge base and passion for web development, I offer a fresh perspective
                            and strong willingness to learn. Determined to further develop my skills, I'm eager to
                            collaborate on tailored solutions supporting your company goals</span>
                    </div>
                    <div class="info">
                        <img src="assets/puzzle.png" alt="">
                        <span>As an aspiring web developer, I bring a unique perspective and unwavering commitment to
                            quality. With a drive to learn new technologies and develop myself, I'm confident in making
                            a valuable contribution to your digital projects.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="right-section">
        <div class="profile-circle-container">
            <div class="profile-circle">
                <img class="img" src="assets/profile-circle.png" alt="">

            </div>
            <div class="decorate-line"></div>
        </div>
    </div>


</div>