<div id="contact" class="contact-section">
    <div class="popup">
        <div id="e-mail" class="e-mail-popup hidden">
            <span class="email-text">Vielen Dank. Ihre E-Mail wurde versand.<br> Ich werde mich bald bei Ihnen
                melden.</span>
        </div>
    </div>
    <div class="flex">
        <div class="decorate-line"></div>
        <h1 [ngClass]="{'deutsch': currentLanguage === 'de' || isGerman}">{{"Contact" | translate}}</h1>
    </div>
    <div class="content">
        <div class="contact-info">
            <h2>{{"Got a problem to solve?" | translate}}</h2>
            <div class="contact-span">
                <span>{{ "Communication" | translate}}</span>
            </div>
            <div class="contact-me">
                <span>{{"Need a Frontend developer?" | translate }} </span>
                <span><b>{{ "Contact me!" | translate}}</b></span>
            </div>
        </div>
        <div class="form-content">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="relative">
                    <input minlength="3" [(ngModel)]="contactData.name" #name="ngModel" type="text" id="name"
                        name="name" placeholder="{{'Your name' | translate }}" required (input)="onInputChange()"
                        (blur)="setInputBlurred()" [class.error-border]="isBlurred && name?.value?.length < 3"
                        [class.success-border]="isBlurred && name?.value?.length >= 3">
                    <img class="error-img" src="assets/red.png" alt="Error Image"
                        [hidden]="!isBlurred || name?.value?.length >= 3">
                    <img class="success-img" src="assets/green.png" alt="Success Image"
                        [hidden]="!isBlurred || name?.value?.length < 3">
                    <span class="error-text" *ngIf="!name?.valid && name.touched">{{"Please enter a name" |
                        translate}}</span>
                </div>

                <div class="relative">
                    <input [(ngModel)]="contactData.email" #email="ngModel" type="email" id="email" name="email"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        placeholder="{{'Your email' | translate }}" required (input)="onInputChanges()"
                        (blur)="setInputBlurredSecondInput()"
                        [class.error-border]="isBlurredSecondInput && !email.valid"
                        [class.success-border]="isBlurredSecondInput && email.valid">
                    <img class="error-img" src="assets/red.png" alt="Error Image"
                        [hidden]="!isBlurredSecondInput || email.valid">
                    <img class="success-img" src="assets/green.png" alt="Success Image"
                        [hidden]="!isBlurredSecondInput || !email.valid">
                    <span class="error-text" *ngIf="!email.valid && email.touched">{{"Please enter a valid email" |
                        translate}}</span>
                </div>

                <div class="relative">
                    <textarea minlength="20" [(ngModel)]="contactData.message" #message="ngModel" id="message"
                        name="message" placeholder="{{'Your message' | translate }}" required
                        (input)="onTextareaInputChange()" (blur)="setInputBlurredTextarea()"
                        [class.error-border]="isBlurredTextarea && message?.value?.length < 20"
                        [class.success-border]="isBlurredTextarea && message?.value?.length >= 20"></textarea>
                    <img class="error-img" src="assets/red.png" alt="Error Image"
                        [hidden]="!isBlurredTextarea || message?.value?.length >= 20">
                    <img class="success-img" src="assets/green.png" alt="Success Image"
                        [hidden]="!isBlurredTextarea || message?.value?.length < 20">
                    <span class="error-text" *ngIf="!message?.valid && message.touched">{{"Please enter a message (20
                        letter min)" | translate }}</span>
                </div>
                <div class="information-data">
                    <div class="checkbox">
                        <input class="checkboxx" type="checkbox" id="myCheckbox" [(ngModel)]="contactData.checkbox"
                            name="checkbox" required>
                        <label for="myCheckbox"></label>
                        <span>{{"I've read the" | translate }} <a routerLink="/agb" (click)="agb($event)"
                                class="privacy-policy" href="">{{"privacy policy" |
                                translate }}</a> {{ 'and agree to the processing of my data as outlined' | translate
                            }}</span>
                    </div>
                    <div class="send-message-btn">
                        <button id="button" [disabled]="!contactForm.valid"
                            [ngClass]="{'enabled': contactForm.valid, 'disabled': !contactForm.valid}">{{"Send
                            message:)" |translate }}</button>
                    </div>
                </div>
            </form>
            <div class="go-up-btn">
                <a href="#first-section">
                    <img src="assets/zeiger-weiss.png" alt="">
                    <img class="btn-img-hover" src="assets/zeiger-türkis.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>