.agb-content{
    margin-top: 50px;
    color: white;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

a{
    text-decoration: none;
    color: white;
}

.go-back{
    position: absolute;
    right: 100px;
    transform: rotate(90deg);
    cursor: pointer;
}

.go-back-hover{
    position: absolute;
    right: 100px;
    transform: rotate(90deg);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

 .go-back-hover:hover {
    opacity: 1;
}

@media screen and (max-width:950px){
    .agb-content{
        padding-left: 25px;
        padding-right: 25px;
    }
}