.portfolio-section {
    padding-top: 80px;
    background-color: #141D2F;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.decorate-img {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 100px;
    right: -250px;
    transform: rotate(35deg);
    z-index: 999;
    overflow: hidden;
}

.decorate-image {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50px;
    left: -200px;
    transform: rotate(35deg);
    z-index: 1;
}

.portfolio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 50px;
    position: relative;
    z-index: 5;
}

.decorate-img-portfolio-1 {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 700px;
    right: -250px;
    rotate: 35deg;
    z-index: 1;
    display: none;
}

.decorate-image-portfolio-2 {
    position: absolute;
    height: 500px;
    width: 500px;
    bottom: 0;
    rotate: 35deg;
    bottom: 0;
    left: -200px;
    z-index: 1;
    display: none;
}

h1 {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    font-size: 88px;
    color: white;
}

h1.deutsch {
    font-size: 60px;
}

.short-line {
    background-color: #4441E5;
    height: 4px;
    width: 5%;
}

.long-line {
    background-color: #4441E5;
    height: 4px;
    width: 30%;
}

.description {
    color: white;
    font-size: 20px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.development-description {
    max-width: 500px;
    font-size: 22px;
    z-index: 10;
}

.development-section {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 80px;
    z-index: 10;
}

.development-section.reverse {
    flex-direction: row-reverse;
    z-index: 10;
    padding-left: 0;
    position: relative;
    /* Flex-Richtung umdrehen für jedes zweite Element */
}

.development-section.reverse>.info-container {
    order: 1;
    /* Ändert die Reihenfolge des zweiten Elements in umgekehrten Iterationen */
    padding-right: 0;
    display: flex;
    align-items: start;
    text-align: end;
    z-index: 9;
}

.development-section.reverse>.product-img {
    padding-right: 100px;
}

.development-section.reverse>.info-container>.btn-section {
    display: flex;
    justify-content: end;
    gap: 86px;
}

.product-img {
    padding-left: 150px;
    padding-right: 150px;
    z-index: 9;
    padding-top: 30px;

    >img {
        height: 500px;
        width: 500px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    z-index: 10;
}

h3 {
    color: #4441E5 !important;
    font-size: 36px;
    margin-bottom: 4px;
}

.skills {
    font-size: 24px;
    color: #1CDAE6 !important;
    padding-bottom: 8px;
}

.btn-section {
    display: flex;
    gap: 86px;
    padding-top: 50px;
}

.live-test {
    font-size: 30px;
    border-radius: 10px;
    padding: 16px;
    cursor: pointer;
    background-color: #4441E5;
    color: white;
    border: none;

    &:hover {
        background-color: #1CDAE6;
    }
}

.github {
    font-size: 30px;
    border-radius: 10px;
    padding: 16px;
    cursor: pointer;
    background-color: #141D2F;
    border-color: #1CDAE6;
    color: white;

    &:hover {
        background-color: #1CDAE6;
    }
}


@media screen and (max-width: 1440px) {
    .decorate-img-portfolio-1 {
        display: block;
    }

    .decorate-image-portfolio-2 {
        display: block;
    }
}

@media screen and (max-width:1300px) {
    .development-section.reverse {
        .product-img {
            padding-right: 0;
        }
    }

    .product-img {
        padding-left: 50px;
        padding-right: 50px;
    }

    .development-section:nth-of-type(2) {
        .info-container {
            padding-left: 50px;
        }
    }

    .btn-section {
        gap: 60px;
    }

    .development-section.reverse {
        .info-container {
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 1250px) {
    h1 {
        font-size: 80px;
    }
}

@media screen and (max-width:1200px) {
    .portfolio-section {
        padding-right: 0;
        padding-left: 0;
    }

    h1.deutsch {
        font-size: 80px;
    }

    .development-section.reverse {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;

        .product-img {
            padding-left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .development-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;
    }

    .description {
        padding-bottom: 0;
        padding-right: 100px;
        padding-left: 100px;
        text-align: center;
    }

    .product-img {
        padding-top: 0;
        z-index: 9;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-container {
        margin-top: -50px;
        width: 80%;
        text-align: center;
        padding-right: 100px;
        padding-left: 100px;
    }

    .development-description {
        max-width: none;
    }

    .btn-section {
        justify-content: center;
    }

    .development-section.reverse {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;
        padding-right: 100px;

        >.info-container {
            margin-top: -50px;
            width: 80%;
            text-align: center;
            align-items: center;
            padding-right: 100px;
            padding-left: 100px;
        }
    }
}

@media screen and (max-width:850px) {
    .info-container {
        padding-right: 50px;
    }

    h1 {
        font-size: 60px;
    }

    h1.deutsch {
        font-size: 60px;
    }
}

@media screen and (max-width:700px) {
    .long-line {
        width: 20%;
    }

    .decorate-img {
        right: -167px;
        top: 254px;
    }

    .decorate-image {
        bottom: 485px;

    }

    .description {
        padding-left: 50px;
        padding-right: 50px;
    }

    h1 {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 64px;
    }
}

@media screen and (max-width:500px) {
    .live-test {
        font-size: 22px;
    }

    .github {
        font-size: 22px;
    }

    h1 {
        font-size: 40px;
    }

    h1.deutsch {
        font-size: 40px;
    }
}

@media screen and (max-width:410px) {
    .development-description {
        font-size: 18px;
    }

    .btn-section {
        gap: 35px;
    }

    .long-line {
        width: 13%;
    }

    .development-section.reverse {
        >.info-container {
            >.btn-section {
                gap: 35px;
            }
        }
    }
}