<!-- <div id="skills" class="my-skills-section">
    <div class="mobile-btn">
        <a href="#contact">
            <button [class.deutsch]="currentLanguage === 'de'" [ngClass]="{'deutsch': isGerman}"
                class="btn-mobile hide-mobile">{{ "Get in touch" |translate}}</button>
        </a>
    </div>
    <div data-aos="fade-right" class="left-content">
        <div class="skills-container" *ngFor="let image of images; let i = index">
            <img class="skill-image" src="{{ image }}">
        </div>
    </div>
    <div data-aos="fade-left" class="right-content">
        <div class="flex">
            <H1 [class.deutsch]="currentLanguage === 'de'" [ngClass]="{'deutsch': isGerman}">{{"My Skills" | translate}}
            </H1>
            <div class="line"></div>
        </div>
        <span class="skills-container">{{ "Skill Development" | translate}}</span>
        <a href="#contact">
            <button  [ngClass]="{'deutsch': isGerman}" [class.deutsch]="currentLanguage === 'de'" class="btn hide-desktop">{{ "Get in touch" |translate}}</button>
        </a>
    </div>
    <img class="decorate-img-section" src="assets/green_shadow.png" alt="">
</div> -->


<div id="skills" class="my-skills">
  <h1 [ngClass]="{'deutsch': currentLanguage === 'de' || isGerman}">
    {{ "MY_SKILLS_TITLE" | translate }}
  </h1>

  <!-- Desktop Grid -->
  <div class="skills-grid" *ngIf="!isMobile">
    <div class="skill-card" *ngFor="let skill of skills">
      <div class="card-inner">
        <div class="card-front">
          <img [src]="skill.img" [alt]="skill.titleKey | translate">
        </div>
        <div class="card-back">
          <div class="hoverTextContent">
            <h3>{{ skill.titleKey | translate }}</h3>
            <ul>
              <li *ngFor="let line of skill.descriptionKeys">{{ line | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile: 3 Skills pro Gruppe -->
<div class="mobile-skill-content" *ngIf="isMobile">
  <!-- EIN Wrapper für alle 3 Skills -->
  <div class="skill-card-mobile-group">
    <!-- Hier iterieren wir über die 3 Skills -->
    <div class="skill-card-mobile" *ngFor="let skill of skillGroups[currentPage]">
      <div class="skill-mobile-inner">
        <img [src]="skill.img" [alt]="skill.titleKey | translate" />
        <div class="skill-description-right">
          <ul>
            <li *ngFor="let line of skill.descriptionKeys">{{ line | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination unter der Box -->
  <div class="pagination-dots">
    <img *ngFor="let _ of skillGroups; let idx = index"
         [src]="'assets/' + (currentPage === idx ? 'active-point.png' : 'inactive-point.png')"
         alt="page-dot"
         class="pagination-image"
         (click)="goToPage(idx)" />
  </div>
</div>