<div id="skills" class="my-skills-section">

  <div class="mobile-btn">
    <a href="#contact">
      <button class="btn-mobile hide-mobile">
        {{ "Get in touch" | translate }}
      </button>
    </a>
  </div>

  <div data-aos="fade-right" class="left-content">

    <div class="skills-container"
      *ngFor="let skill of skills; let last = last"
      [ngClass]="{ 'special-skill': last }">

      <img class="skill-image" [src]="skill.img" [alt]="skill.name">
      <span class="title-skills">{{ skill.name }}</span>

      <div class="hover-box" *ngIf="last">
        <p>I have a special interest in learning</p>

        <div class="hover-icons">
          <div class="icon-item">
            <img src="assets/react.png">
            <span>React</span>
          </div>

          <div class="icon-item">
            <img src="assets/vue.png">
            <span>Vue.js</span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div data-aos="fade-left" class="right-content">

    <div class="flex">
      <h1>{{ "My Skills" | translate }}</h1>
      <div class="line"></div>
    </div>

    <span class="skills-container">
      {{ "Skill Development" | translate }}
    </span>

    <a href="#contact">
      <button class="btn hide-desktop">
        {{ "Get in touch" | translate }}
      </button>
    </a>

  </div>

  <img class="decorate-img-section" src="assets/green_shadow.png" alt>

</div>